<?xml version="1.0"?>
<!--
/**
* Configuracion de rutas para los controladores

*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/App/etc/routes.xsd">
    <router id="standard">
        <route id="spsdecidir" frontName="spsdecidir">
            <module name="Decidir_SpsDecidir" />
        </route>
    </router>
</config>